<nav>
  <ul>
  <h3 class="masthead-title book-section menu"><u>Investment Analysis</u></h3>
  <table>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "blockchainventure/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/blockchainventure">Blockchain Investment for Venture Capitalists</a>
  	 </td>
    </tr>
    <tr>
     <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "blockchainventure/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
      <a href="/blockchainventure">Institutional Investing in Cryptocurrency Markets</a>
    <tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "cryptovalue/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/cryptovalue">Seeing Value and Picking Cryptocurrencies</a>	
  	 </td>
  	</tr>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "quant_trade_arbitrage/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/quant_trade_arbitrage">Quant, Trading, and Arbitrage</a>	
  	 </td>
    </tr>
    <tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "BTC/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/BTC">Investment Advice: BTC</a>
  	 </td>
  	</tr>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "ETH/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/ETH">Investment Advice: ETH</a>	
  	 </td>
    </tr>
    <tr>
  	 <td>
     <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "Alts/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/Alts">Investment Advice: Alts</a>	
  	 </td>
  	</tr>
  </table>
  </ul>
</nav>
