<nav>
  <ul>
   <h3 class="masthead-title book-section menu"><u>Technical Questions</u></h3>
  <table>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "speed_energy/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/speed_energy">Scaling, Speed, and Energy Costs</a>
  	 </td>
    </tr>
    <tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "trust/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/trust">Proof of Trustworthiness</a>	
  	 </td>
  	</tr>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "defense/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/defense">Defense Against the Dark Arts</a>	
  	 </td>
  	</tr>
  </table>
  </ul>
</nav>
