<nav>
  <ul>
  <head><font size="5"><u><b>Investment Analysis</b></u></head><br>
  <table>
  	<tr>
  	 <td>
  	  <a href="/blockchainventure">Blockchain Investment for Venture Capitalists</a>
  	 </td>
  	 <td>
  	  <a href="/cryptovalue">Seeing Value and Picking Cryptocurrencies</a>	
  	 </td>
  	</tr>
  	<tr>
  	 <td>
  	  <a href="/quant_trade_arbitrage">Quant, Trading, and Arbitrage</a>	
  	 </td>
  	 <td>
  	  <a href="/BTC">Investment Advice: BTC</a>
  	 </td>
  	</tr>
  	<tr>
  	 <td>
  	  <a href="/ETH">Investment Advice: ETH</a>	
  	 </td>
  	 <td>
  	  <a href="/Alts">Investment Advice: Alts</a>	
  	 </td>
  	</tr>
  </table>
  </ul>
</nav>
