<nav>
  <ul>
  <h3 class="masthead-title book-section menu"><u>Introduction</u></h3>
  <table>
   <tr>
     <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "bitcoinblockchain/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
        <a href="/bitcoinblockchain">The Bitcoin Blockchain</a></li>
      </td>
    </tr>
    <tr>
     <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "SmartContracts/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
         <a href="/SmartContracts">Smart Contracts and the Programmable Blockchain</a>
      </td>
   </tr>
   <tr>
   	<td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "decentralized/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
   		<a href="/decentralized">Decentralized, Peer-to-Peer, and Open Source</a>
   	</td>
   </tr>
  </table>
  </ul>
</nav>

