<nav>
  <ul>
   <h3 class="masthead-title book-section menu"><u>Reimagining Society</u></h3>
  <table>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "whathaveyoudone/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/whathaveyoudone">What Have You Done For Me Lately</a>
  	 </td>
    </tr>
    <tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "buildingblock/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/buildingblock">A Fundamental Building Block</a>	
  	 </td>
  	</tr>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "tulips/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/tulips">A Tulip Craze</a>	
  	 </td>
    </tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "dreams_freedoms/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/dreams_freedoms">Realizing Dreams of Freedom and Democracy</a>
  	 </td>
  	</tr>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "business/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/business">Business, As Usual</a>	
  	 </td>
    </tr>
    <tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "government/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/government">Governments, Beware</a>	
  	 </td>
  	</tr>
  </table>
  </ul>
</nav>
