<nav>
  <ul>
   <h3 class="masthead-title book-section menu"><u>Philosophical Primitives</u></h3>
  <table>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "systemsoftrust/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/systemsoftrust">Systems of Trust</a>
  	 </td>
    </tr>
    <tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "moneyvalue/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/moneyvalue">Why is money Valuable?</a>	
  	 </td>
  	</tr>
  	<tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "banking_seperation/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/banking_seperation">Central Banking and the Separation of Money and State</a>	
  	 </td>
    </tr>
    <tr>
  	 <td>
        <script type="text/javascript">
          if (document.location.href == window.location.protocol + "//" + window.location.host + "/" + "internet/") {
            document.write("<b class='menu'>></b>")
          }
        </script>
  	  <a href="/internet">The Internet That Never Was</a>
  	 </td>
  	</tr>
  </table>
  </ul>
</nav>
