<nav>
  <ul>
  <head><font size="5"><u><b>Reimagining Society</b></u></head><br>
  <table>
  	<tr>
  	 <td>
  	  <a href="/whathaveyoudone">What Have You Done For Me Lately</a>
  	 </td>
  	 <td>
  	  <a href="/buildingblock">A Fundamental Building Block</a>	
  	 </td>
  	</tr>
  	<tr>
  	 <td>
  	  <a href="/tulips">A Tulip Craze</a>	
  	 </td>
  	 <td>
  	  <a href="/dreams_freedoms">Realizing Dreams of Freedom<br> and Democracy</a>
  	 </td>
  	</tr>
  	<tr>
  	 <td>
  	  <a href="/business">Business, As Usual</a>	
  	 </td>
  	 <td>
  	  <a href="/government">Governments, Beware</a>	
  	 </td>
  	</tr>
  </table>
  </ul>
</nav>
